.bg-light-gray{
    background-color: rgb(71, 71, 75);
}
#contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

a{
    border: 1px white solid;
    font-size: large;
}
