<nav class="navbar navbar-expand-sm navbar-dark bg-light-gray ">
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
    </button>
    <div class="container-fluid  pb-3" id="contenedor">
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav ">
              <li class="nav-item mx-3 mt-1" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']"> 
                <a class="nav-link px-4" [routerLink]="''" (click)="isMenuCollapsed = true">Inicio</a>
              </li>
              <li class="nav-item mx-3 mt-1" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']">
                <a class="nav-link px-4" (click)="isMenuCollapsed = true">Noticias</a>
              </li>
              <li class="nav-item mx-3 mt-1" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']">
                <a class="nav-link px-4" [routerLink]="'formulario'" (click)="isMenuCollapsed = true">Servicio al Cliente</a>
              </li>
            </ul>
          </div>
    </div>
</nav>

<div class="container-fluid mb-5" id="fondo">
</div>


