//Colores Por Categoria
.dark-red{
    color: rgb(82, 1, 1);
}
.violet{
    color: rgb(112, 0, 163);
}
.dark-blue{
    color: rgb(11, 1, 83);
}
.gray{
    color: rgba(78, 76, 76, 0.1);
}

img{
    width: 100%;
    height: auto;
}
h1{ height: 100%;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    line-height: normal;
}
p{
    line-height: normal;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#body{
    font-size: 30px;
    font-family: 'Raleway', serif;
    display: flex;
    flex-wrap: wrap;
    line-height: normal;
    text-align: justify;
}