img{
    width: 100%;
    height: auto;
}
h1{ height: 100%;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    line-height: normal;
}
p{
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#body{
    font-size: 30px;
    font-family: 'Raleway', serif;
    display: flex;
    flex-wrap: wrap;
    line-height: normal;
    text-align: justify;
}